<div id="<%= dom_id book %>">

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
         
            <%= image_tag(book.image, :class => "img-fluid rounded-start") %> 
           
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title"> <%= book.name %></h2>
            <h3 class="card-title text-danger"> <%= book.author %></h3>
            <p class="card-text"><%= book.comment %></p>
            <strong class="card-text">Fecha de lectura: <%= book.readingDate %></strong>
            <div class="card-text mt-5"><%= link_to "Mostrar este libro", book, :class => "btn btn-info"%>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
