<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
  <div class="card-body">
    
  <div class="mb-3">
    <%= form.label :image, "Imagen del Libro", style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div class="mb-3">
    <%= form.label :name,"Nombre del Libro", {class: "form-label"}%>
    <%= form.text_field :name, { class: "form-control", placeholder: "Nombre" } %>
    
  </div>

  <div class="mb-3">
    <%= form.label :author, "Autor", {class: "form-label"} %>
    <%= form.text_field :author, { class: "form-control", placeholder: "Autor" } %>
  </div>

  <div class="mb-3">
    <%= form.label :comment,"Reseña", {class: "form-label"}  %>
    <%= form.text_area :comment, { class: "form-control", placeholder: "Resena" } %>
  </div>

  <div class="mb-3">
    <%= form.label :readingDate,"Fecha de Lectura", style: "display: block" %>
    <%= form.date_field :readingDate %>
  </div>

  <div class="mb-3">
    <%= form.submit "Confirmar", class: "btn btn-outline-success" %>
  </div>

</div>
</div>
<% end %>
